<div class="container">
  <div id="cv">Curriculum Vitae</div>
  <h2>Goran Cvijanović</h2>
  <img src="../../assets/img/me250.jpg" alt="me" align="top" width="191">
  <table id="personal">
    <tbody>
      <tr>
        <td class="left">Datum i mesto rođenja<strong>:</strong></td>
        <td class="right">16.11.1982. Sisak, Hrvatska</td>
      </tr>
      <tr>
        <td class="left">Nacionalnost<strong>:</strong></td>
        <td class="right">Srbin</td>
      </tr>
      <tr>
        <td class="left">Email<strong>:</strong></td>
        <td class="right">goran.rs.bg@gmail.com</td>
      </tr>
      <tr>
        <td class="left">Linked-in<strong>:</strong></td>
        <td class="right"><a href="https://www.linkedin.com/in/goran-cvijanovi%C4%87-284345151/" target="_blank">me@LinkedIn.com</a></td>
        </tr>
      <tr>
        <td class="left">Kontakt telefon<strong>:</strong></td>
        <td class="right">064/147-23-53 || 026/4711-285</td>
        </tr>
      <tr>
        <td class="left">Adresa 1<strong>:</strong></td>
        <td class="right">Kolari, Kolarčeva 17, Smederevo</td>
      </tr>
      <tr> 
        <td class="left">Adresa 2<strong>:</strong></td>
        <td class="right">Kotež, Branka Miljkovića 1a/6, Palilula</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <p><strong>Obrazovanje</strong></p>
  <ul>
    <li>Elektrotehničar računara, Tehnička škola u Smederevu (IV stepen)</li>
    <li>Matematički fakultet, Beograd (dve godine, nisam završio)</li>
    <li>Softverski developer, IT Academy, Beograd	2012. (jednogodišnji kurs)</li>
  </ul>
  <p><strong>Radno iskustvo</strong></p>
  <table id="exp">
    <colgroup>
      <col span="3" style="border-right:2px dotted #999999;">
    </colgroup>
    <thead>
      <tr>
        <td>Firma</td>
        <td>Lokacija</td>
        <td>Period</td>
        <td>Pozicija</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>„Fruvita”</td>
        <td>Lunjevac</td>
        <td>2006. – 2007.</td>
        <td>Operater na punjaču „KHS”</td>
      </tr>
      <tr>
        <td>„BG Elektronik exp.–imp.doo”</td>
        <td>Palilula</td>
        <td>2008. - 2010.</td>
        <td>Radnik na prijemu robe</td>
      </tr>
      <tr>
        <td>Privatna stolarska radionica</td>
        <td>Borca</td>
        <td>2013</td>
        <td>Pomoćnik majstora</td>
      </tr>
      <tr>
        <td>Posta Srbije</td>
        <td>Kolari</td>
        <td>Trenutno</td>
        <td>Postar na zameni.</td>
      </tr>
    </tbody>
  </table>
  <p><strong>Ostalo</strong></p>
  <ul>
    <li>Odslužio sam vojsku u trajanju od 9 meseci jun 2005.godine.</li>
    <li>U trajanju od mesec dana juna 2017.godine. završio sam na kursu za podoficire u rezervi.</li>
    <li>Posedujem vozačku dozvolu B kategorije, aktivan sam vozač.</li>
    <li>Povremeni rad sa ocem na uvodjenu vode i grejanja.</li>
  </ul>
</div>
