<div class="container">
  <div id="cv">Curriculum Vitae</div>
  <h2>Goran Cvijanović</h2>
  <img src="../../assets/me250.jpg" alt="me" align="top" width="191">
  <table id="personal">
    <tbody>
      <tr>
        <td class="left">Date and place of birth<strong>:</strong></td>
        <td class="right">16.11.1982. Sisak, Republic of Croatia</td>
      </tr>
      <tr>
        <td class="left">Nationality<strong>:</strong></td>
        <td class="right">Serbian</td>
      </tr>
      <tr>
        <td class="left">Email<strong>:</strong></td>
        <td class="right">goran.rs.bg@gmail.com</td>
      </tr>
      <tr>
        <td class="left">Linked-in<strong>:</strong></td>
        <td class="right"><a href="https://www.linkedin.com/in/goran-cvijanovi%C4%87-284345151/" target="_blank">me@LinkedIn.com</a></td>
        </tr>
      <tr>
        <td class="left">Phone number<strong>:</strong></td>
        <td class="right">064/147-23-53 || 026/4711-285</td>
        </tr>
      <tr>
        <td class="left">Address 1<strong>:</strong></td>
        <td class="right">Kolari, Kolarčeva 17, Smederevo</td>
      </tr>
      <tr> 
        <td class="left">Address 2<strong>:</strong></td>
        <td class="right">Kotež, Branka Miljkovića 1a/6, Palilula</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <p><strong>Education</strong></p>
  <ul>
    <li>Computer technician, School of Electrical Engineering in Smederevo</li>
    <li>University in Belgrade, Faculty of Mathematics (studied for two years, no degree)</li>
    <li>Software developer, IT Academy, Belgrade,	2012. (one-year course)</li>
  </ul>
  <p><strong>Work experience</strong></p>
  <table id="exp">
    <colgroup>
      <col span="3" style="border-right:2px dotted #999999;">
    </colgroup>
    <thead>
      <tr>
        <td>Company</td>
        <td>Location</td>
        <td>Period</td>
        <td>Position</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>„Fruvita”</td>
        <td>Lunjevac</td>
        <td>2006 – 2007</td>
        <td>Operator on the „KHS” filler machine</td>
      </tr>
      <tr>
        <td>„BG Elektronik exp.–imp.doo”</td>
        <td>Palilula</td>
        <td>2008 - 2010</td>
        <td>Reception clerk</td>
      </tr>
      <tr>
        <td>Carpenter's workshop</td>
        <td>Borca</td>
        <td>2013</td>
        <td>Apprentice</td>
      </tr>
      <tr>
        <td>PE Post of Serbia</td>
        <td>Kolari</td>
        <td>Current</td>
        <td>Replacement Postman</td>
      </tr>
    </tbody>
  </table>
  <p><strong>Miscellaneous</strong></p>
  <ul>
    <li>Served the army for nine months (June 2005)</li>
    <li>Completed a one-month course for Corporal (reserve) in the Serbian Army (June 2017)</li>
    <li>Driver's licence (active driver)</li>
    <li>Occasional work with Father on the installations of water and heating systems</li>
  </ul>
</div>
