div.container {
    width: 91%;
    margin: auto;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
div#cv {
    text-align: right;
}
h2 {
    text-align: center;
}
table#personal {
    display: inline;
    vertical-align: center;
}
table tr:hover {
    background-color: #f2f2f2
}
table#personal td.left {
    text-align: right;
    padding-right: 7px;
}
table#personal td.right {
    text-align: left;
}
table a {
    text-decoration: none;
}
table a:hover {
    font-weight: bolder;
}
table#exp {
    border: 3px solid black;
    border-style: groove;
    text-align: left;
    border-collapse: collapse;
}
table#exp thead {
    font-weight: bold;
    border-bottom: 3px double #999999;
}
table#exp td {
    padding: 7px;
}
hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    opacity: 0.5;
} 