* {
    color: #333333;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Oxygen", sans-serif;
}
:root {
    --color: yellowgreen;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(71px, auto);
    grid-template-areas: 
    "h h h"
    "n n n"
    "l a r"
    "f f f";
}
header {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color, yellowgreen);
}
nav {
    grid-area: n;
    background: url(../../assets/img/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    text-decoration: none;
    font-size: 1.21em;
    margin: auto;
    padding: 11px;
    background-color: rgba(255, 255, 255, 0.6);
    color: red;
    border: 3px solid red;
}
nav a:hover {
    color: white;
    background-color: red;
}
#cl {
    border-radius: 11px 0 0 11px;
}
#cs {
    border-radius: 0 11px 11px 0;
}
.active {
    color: black;
    font-weight: bold;
    background-color: white;
    border: 3px solid black;
}
aside.left {
    grid-area: l;
}
aside.right {
    grid-area: r;
}
canvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
article {
    grid-area: a;
    text-align: left;
    color: black;
    font-weight: 550;
    background-color: white;
    min-height: 800px;
}
footer {
    grid-area: f;
    border-top: 3px solid coral;
    border-bottom: 3px solid coral;
    font-size: 1em;
    padding: 13px 0;
    color: whitesmoke;
    background: url(../../assets/img/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span {
    background-color: rgba(1, 1, 1, 0.4);
    color: yellowgreen;
}

@media(max-width: 1245px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 800px;
        grid-auto-rows: minmax(71px, auto);
        grid-template-areas: 
        "h"
        "l"
        "n"
        "a"
        "r"
        "f";
    }
}
