<div class="wrapper">
  <header>
      <app-well-come></app-well-come>
  </header>
  <nav>
    <a routerLink="cover-letter" routerLinkActive="active">Cover letter</a>
    <a routerLink="CV" routerLinkActive="active">Curriculum vitae</a>
    <a routerLink="code-samples" routerLinkActive="active">Code samples</a>
  </nav>
  <aside id="left">Left side</aside>
  <aside id="right">Right side</aside>
  <article>
    Content:
    <router-outlet>...</router-outlet>
  </article>
  <footer>Righttocopy &forall; Goran Cvijanović</footer>
</div>

