<div class="wrapper">
  <header (click)="onClick()" #hdr>
      <app-welcome></app-welcome>
  </header>
  <nav>
    <div>
      <a id="cl" routerLink="cover-letter" routerLinkActive="active">Short Biography</a>
      <a routerLink="CV" routerLinkActive="active">Curriculum vitae</a>
      <a id="cs" routerLink="code-samples" routerLinkActive="active" >Code samples</a>
    </div>
  </nav>
  <aside id="left"><canvas id="leftSide"></canvas></aside>
  <aside id="right"><canvas id="rightSide"></canvas></aside>
  <article>
    <router-outlet></router-outlet>
  </article>
  <footer>
    <div>
      <span>Right-to-copy &forall; Goran Cvijanović</span>
    </div>
  </footer>
</div>

