* {
    color: #333333;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px dashed white;
    font-family: "Oxygen", sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(29px, auto);
}
header {
    grid-column: 1 / 4;
    grid-row: 1;
}
nav {
    grid-column: 1 / 4;
    grid-row: 2;
}
aside.left {
    grid-column: 1;
    grid-row: 3;
}
aside.right {
    grid-column: 3;
    grid-row: 3;
}
article {
    grid-column: 2;
    grid-row: 3;
}
footer {
    grid-column: 1 / 4;
    grid-row: 4;
    border-top: 2px solid #eeeeee;
    transform: translateY(50%);
    font-size: 1em;
    padding: 13px 0;
}