div#wrapper {
    width: 91%;
    margin: auto;
    margin-top: 2em;
    -webkit-margin-before: 2em;
    margin-bottom: 2em;
    -webkit-margin-after: 2em;
}
div p {
    text-indent: 23px;
    text-align: justify;
}
div span {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-margin-before: 1em;
}