table#tableTop {
    width: 100%;
    border: none;
}
table td.left {
    width: 80%;
    text-align: right;
    padding-right: 7px;
}
table td.right {
    text-align: left;
}
div#wrapper {
    width: 91%;
    margin: auto;
}
div p {
    text-indent: 23px;
    text-align: justify;
}
div span {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}