span {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
}