<div class="input-container" style="--color:yellowgreen" (click)="onClick($event)">
  <input  [(ngModel)]="code" 
           id="input-code" 
           type="text" 
           style="--x:10;--y:33" 
           (keyup.enter)="onEnter()" 
           onfocus="this.select()"
           (window:mousemove)="onMouseMove($event)" 
           autofocus 
           required placeholder="CODE TIME" 
           size="12" 
           maxlength="12" 
           #ic>
  <div id="message">
    <letter-box *ngFor="let c of message" [char]="c"></letter-box>
  </div>
</div>