.input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-family: Aldrich, Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color, yellowgreen);
}
#input-code {
    -webkit-appearance: none;
    outline: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
#input-code {
    caret-color: black;
    font-family: inherit;
    font-size: 2em;
    color: inherit;
    background-color: inherit;
    margin: 0px 0px;
    padding: 13px 21px 13px 21px;
    border: 2px solid #cccccc;
    border-radius: 7px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#input-code {
    --x-pos: calc(var(--x) * 1px);
    --y-pos: calc(var(--y) * 1px);
    box-shadow: var(--x-pos, 17px) var(--y-pos , 17px) 17px var(--color-shadow, darkslategray);
}
#input-code:focus {
    border-color: var(--color);
}
#input-code:hover {
    background: black;
    caret-color: white;
    box-shadow: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#message {
    font-size: 1.5em;
    text-align: center;
}