.gatecontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    text-align: center;
    color: yellowgreen;
    font-size: 2em;
    font-family: Aldrich, Verdana, Geneva, Tahoma, sans-serif;
}
#cd {
    -webkit-appearance: none;
    outline: none;
}
#cd {
    background-color: transparent;
    font: inherit;
    font-size: 1.5em;
    color: inherit;
    caret-color: black;
    margin: 0px 0px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
}
#cd:focus {
    border-color: yellowgreen;
}
#message {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}